weelam :3
_weelam_
Zed

Lip1811 [FSC], 
 — Yesterday at 02:52• im a emoticon user :3
uhhhhhhhh i made a video about this game an ummmmmm yeah yeah
https://www.youtube.com/watch?v=aQTggk8C6Sw
YouTube
pmcjr
I made a Cupcakes HD emote
GIF - maxresdefault.jpg
Lip1811 [FSC], 
 — Yesterday at 05:07• im a emoticon user :3
guys how did i do with this animation
i think its pretty good, except it aint perfectly synced...
Diggby {THE BIG FLUFFY MOTH}
 — Yesterday at 06:56
ima join :3
Lip1811 [FSC], 
 — Yesterday at 06:56• im a emoticon user :3
let me join the game hold on
@Diggby {THE BIG FLUFFY MOTH} do u want the link?
weelam :3 [Fe㏔ѹ], 
 — Yesterday at 06:59• enum pronouns {he, they};
dddddddd
 [Fe㏔ѹ], 
Lip1811 [FSC], 
 — Yesterday at 06:59• im a emoticon user :3
you wanna join too?
 [FSC], 
weelam :3 [Fe㏔ѹ], 
 — Yesterday at 07:00• enum pronouns {he, they};
no me have headache
gkugfk3 [OREO],  — Yesterday at 15:40
Forwarded
there are still some bugs like the animations freezing or shells flying out the wrong direction but ill fix them later
 [OREO], 
A random femboy [FSC],  — Yesterday at 17:30
are those animations or Procedural
Diggby {THE BIG FLUFFY MOTH}
 — Yesterday at 20:08
:3
 [FSC], 
gkugfk3 [OREO],  — Yesterday at 23:56
animations
weelam :3 [Fe㏔ѹ], 
 — 00:01• enum pronouns {he, they};
im bored
 [Fe㏔ѹ], 
Lip1811 [FSC], 
 — 00:03• im a emoticon user :3
im gonna crack you
weelam :3 [Fe㏔ѹ], 
 — 00:04• enum pronouns {he, they};
go ahead :3
GIF - Screenshot at ...png?ex=ce&is=bf&hm=fceddfaededbdeddddceba&
 [Fe㏔ѹ], 
Lip1811 [FSC], 
 — 00:05• im a emoticon user :3
fuck
you have vencord
im fucked
weelam :3 [Fe㏔ѹ], 
 — 00:05• enum pronouns {he, they};
:3
 [Fe㏔ѹ], 
gkugfk3 [OREO],  — 00:50
i see someone uses code fonts in discord too
 [OREO], 
weelam :3 [Fe㏔ѹ], 
 — 00:51• enum pronouns {he, they};
yes
gkugfk3 [OREO],  — 00:52
i use cascadia code
weelam :3 [Fe㏔ѹ], 
 — 00:52• enum pronouns {he, they};
nice
lemme check which one i use i forgor
gkugfk3 [OREO],  — 00:52
GIF - image.png?ex=cf&is=bffb&hm=deacbfddfccccbadddedaaedce&
not everything is cascadia because i want it to look somewhat normal
i dont wanna change the quickcss too much
weelam :3 [Fe㏔ѹ], 
 — 00:53• enum pronouns {he, they};
Adwaita Mono
Rager [HS],  — 00:53
:p
Image
weelam :3 [Fe㏔ѹ], 
 — 00:53• enum pronouns {he, they};
:p
how is everyone doing
gkugfk3 [OREO],  — 00:53
good
 [Fe㏔ѹ], 
Rager [HS],  — 00:53
just got shot point blank by a shotgun (TTS)
gkugfk3 [OREO],  — 00:53
also this is how my quickcss theme looks like
GIF - image.png?ex=cf&is=bfa&hm=aadebebbdbbababcffbdac&
its very good
GIF - image.png?ex=cf&is=bfa&hm=bfffbfbafeafbcaacfccfe&
 [HS], 
weelam :3 [Fe㏔ѹ], 
 — 00:53• enum pronouns {he, they};
...
are you ok?
 [OREO], 
weelam :3 [Fe㏔ѹ], 
 — 00:54• enum pronouns {he, they};
that hurts my eyes
gkugfk3 [OREO],  — 00:54
here is the css
weelam :3 [Fe㏔ѹ], 
 — 00:54• enum pronouns {he, they};
im just using a modded version of refact0r midnight
/**
 * @name midnight
 * @description A dark, rounded discord theme.
 * @author refact0r
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/midnight.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

/* MAKE SURE THAN THE "AdwaitaMono Nerd Font" IS INSTALLED */

@import url('https://refact0r.github.io/midnight-discord/midnight.css');


/* I added this section :3 */
* {
    font-family: "AdwaitaMono Nerd Font", monospace !important;
}

/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font*/
	--font: 'AdwaitaMono Nerd Font'; /* I changed this :3 */

	/* top left corner text */
	--corner-text: 'Midnight';

	/* color of status indicators and window controls */
	--online-indicator: var(--accent-2); /* change to #23a55a for default green */
	--dnd-indicator: hsl(340, 60%, 60%); /* change to #f13f43 for default red */
	--idle-indicator: hsl(50, 60%, 60%); /* change to #f0b232 for default yellow */
	--streaming-indicator: hsl(260, 60%, 60%); /* change to #593695 for default purple */

	/* accent colors */
	--accent-1: hsl(190, 70%, 60%); /* links */
	--accent-2: hsl(190, 70%, 48%); /* general unread/mention elements */
	--accent-3: hsl(190, 70%, 42%); /* accent buttons */
	--accent-4: hsl(190, 70%, 36%); /* accent buttons when hovered */
	--accent-5: hsl(190, 70%, 30%); /* accent buttons when clicked */
	--mention: hsla(190, 80%, 52%, 0.1); /* mentions & mention messages */
	--mention-hover: hsla(190, 80%, 52%, 0.05); /* mentions & mention messages when hovered */

	/* text colors */
	--text-0: white; /* text on colored elements */
	--text-1: var(--text-2); /* other normally white text */
	--text-2: hsl(220, 25%, 70%); /* headings and important text */
	--text-3: hsl(220, 15%, 60%); /* normal text */
	--text-4: hsl(220, 15%, 40%); /* icon buttons and channels */
	--text-5: hsl(220, 15%, 25%); /* muted channels/chats and timestamps */

	/* background and dark colors */
	--bg-1: hsl(220, 15%, 20%); /* dark buttons when clicked */
	--bg-2: hsl(220, 15%, 16%); /* dark buttons */
	--bg-3: hsl(220, 15%, 13%); /* spacing, secondary elements */
	--bg-4: hsl(220, 15%, 10%); /* main background color */
	--hover: hsla(230, 20%, 40%, 0.1); /* channels and buttons when hovered */
	--active: hsla(220, 20%, 40%, 0.2); /* channels and buttons when clicked or selected */
	--message-hover: hsla(220, 0%, 0%, 0.1); /* messages when hovered */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: block; /* moon icon */
	--moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* custom icon url */
	--moon-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4); /* login background artwork */
	--green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43); /* add friend page explore icon */
	--blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); /* add friend page school icon */

	/* nav buttons */
	--windows-nav: none;
	--custom-nav: block;
}

midnight.theme.css
5 KB
gkugfk3 [OREO],  — 00:54
/* @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
*/
/* * {
    transition: all 0.3s ease;
} */

theme.css
3 KB
 [OREO], 
gkugfk3 [OREO],  — 00:56
my theme is so good it cant even render
GIF - image.png?ex=cf&is=bfaa&hm=edeecccbdececceecfdece&
weelam :3 [Fe㏔ѹ], 
 — 00:56• enum pronouns {he, they};
sigh
that usually means it SUCKS
sorry
Rager [HS],  — 00:56
mmy theme is better
it render
weelam :3 [Fe㏔ѹ], 
 — 00:56• enum pronouns {he, they};
sure
 [Fe㏔ѹ], 
gkugfk3 [OREO],  — 00:56
no its because im using quickcss
﻿
/**
 * @name midnight
 * @description A dark, rounded discord theme.
 * @author refact0r
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/midnight.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

/* MAKE SURE THAN THE "AdwaitaMono Nerd Font" IS INSTALLED */

@import url('https://refact0r.github.io/midnight-discord/midnight.css');


/* I added this section :3 */
* {
    font-family: "AdwaitaMono Nerd Font", monospace !important;
}

/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font*/
	--font: 'AdwaitaMono Nerd Font'; /* I changed this :3 */

	/* top left corner text */
	--corner-text: 'Midnight';

	/* color of status indicators and window controls */
	--online-indicator: var(--accent-2); /* change to #23a55a for default green */
	--dnd-indicator: hsl(340, 60%, 60%); /* change to #f13f43 for default red */
	--idle-indicator: hsl(50, 60%, 60%); /* change to #f0b232 for default yellow */
	--streaming-indicator: hsl(260, 60%, 60%); /* change to #593695 for default purple */

	/* accent colors */
	--accent-1: hsl(190, 70%, 60%); /* links */
	--accent-2: hsl(190, 70%, 48%); /* general unread/mention elements */
	--accent-3: hsl(190, 70%, 42%); /* accent buttons */
	--accent-4: hsl(190, 70%, 36%); /* accent buttons when hovered */
	--accent-5: hsl(190, 70%, 30%); /* accent buttons when clicked */
	--mention: hsla(190, 80%, 52%, 0.1); /* mentions & mention messages */
	--mention-hover: hsla(190, 80%, 52%, 0.05); /* mentions & mention messages when hovered */

	/* text colors */
	--text-0: white; /* text on colored elements */
	--text-1: var(--text-2); /* other normally white text */
	--text-2: hsl(220, 25%, 70%); /* headings and important text */
	--text-3: hsl(220, 15%, 60%); /* normal text */
	--text-4: hsl(220, 15%, 40%); /* icon buttons and channels */
	--text-5: hsl(220, 15%, 25%); /* muted channels/chats and timestamps */

	/* background and dark colors */
	--bg-1: hsl(220, 15%, 20%); /* dark buttons when clicked */
	--bg-2: hsl(220, 15%, 16%); /* dark buttons */
	--bg-3: hsl(220, 15%, 13%); /* spacing, secondary elements */
	--bg-4: hsl(220, 15%, 10%); /* main background color */
	--hover: hsla(230, 20%, 40%, 0.1); /* channels and buttons when hovered */
	--active: hsla(220, 20%, 40%, 0.2); /* channels and buttons when clicked or selected */
	--message-hover: hsla(220, 0%, 0%, 0.1); /* messages when hovered */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: block; /* moon icon */
	--moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* custom icon url */
	--moon-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4); /* login background artwork */
	--green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43); /* add friend page explore icon */
	--blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); /* add friend page school icon */

	/* nav buttons */
	--windows-nav: none;
	--custom-nav: block;
}
midnight.theme.css
5 KB